apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: library-k8s-cluster
networking:
  serviceSubnet: "{{ subnet_cidr }}"
apiServer:
  certSANs:
    - "{{ node_hostname }}"
    - "{{ node_priv_ip }}"
