[defaults]
;action_warnings=True
;allow_broken_conditionals=False
;allow_embedded_templates=True
;cowsay_enabled_stencils=bud-frogs, bunny, cheese, daemon, default, dragon, elephant-in-snake, elephant, eyes, hellokitty, kitty, luke-koala, meow, milk, moofasa, moose, ren, sheep, small, stegosaurus, stimpy, supermilker, three-eyes, turkey, turtle, tux, udder, vader-koala, vader, www
;cowpath=
;cow_selection=default
;force_color=False
;home=~/.ansible
;nocolor=False
;nocows=False
;any_errors_fatal=False
;become_password_file=
;become_plugins=/Users/riyaztevar/.ansible/plugins/become:/usr/share/ansible/plugins/become
;fact_caching=memory
;fact_caching_connection=
;fact_caching_prefix=ansible_facts
;fact_caching_timeout=86400
;callbacks_enabled=
;collections_on_ansible_version_mismatch=warning
;collections_path=/Users/riyaztevar/.ansible/collections:/usr/share/ansible/collections
;collections_scan_sys_path=True
;connection_password_file=
;action_plugins=/Users/riyaztevar/.ansible/plugins/action:/usr/share/ansible/plugins/action
;allow_unsafe_lookups=False
;ask_pass=False
;ask_vault_pass=False
;cache_plugins=/Users/riyaztevar/.ansible/plugins/cache:/usr/share/ansible/plugins/cache
;callback_plugins=/Users/riyaztevar/.ansible/plugins/callback:/usr/share/ansible/plugins/callback
;cliconf_plugins=/Users/riyaztevar/.ansible/plugins/cliconf:/usr/share/ansible/plugins/cliconf
;connection_plugins=/Users/riyaztevar/.ansible/plugins/connection:/usr/share/ansible/plugins/connection
;debug=False
;executable=/bin/sh
;filter_plugins=/Users/riyaztevar/.ansible/plugins/filter:/usr/share/ansible/plugins/filter
;force_handlers=False
;forks=5
;gathering=implicit
;hash_behaviour=replace
;inventory=['/etc/ansible/hosts']
inventory=./inventory
roles_path = ./roles
;httpapi_plugins=/Users/riyaztevar/.ansible/plugins/httpapi:/usr/share/ansible/plugins/httpapi
;internal_poll_interval=0.001
;inventory_plugins=/Users/riyaztevar/.ansible/plugins/inventory:/usr/share/ansible/plugins/inventory
;jinja2_extensions=
;jinja2_native=True
;keep_remote_files=False
;bin_ansible_callbacks=False
;local_tmp=/Users/riyaztevar/.ansible/tmp
;log_filter=
;log_path=
log_path=/tmp/ansible.log
callbacks_enabled=community.general.log_plays
;lookup_plugins=/Users/riyaztevar/.ansible/plugins/lookup:/usr/share/ansible/plugins/lookup
;ansible_managed=Ansible managed
;module_args=
;module_compression=ZIP_DEFLATED
;module_name=command
;library=/Users/riyaztevar/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
;module_utils=/Users/riyaztevar/.ansible/plugins/module_utils:/usr/share/ansible/plugins/module_utils
;netconf_plugins=/Users/riyaztevar/.ansible/plugins/netconf:/usr/share/ansible/plugins/netconf
;no_log=False
;no_target_syslog=False

;no_target_syslog = False
;syslog_facility = LOG_USER

;null_representation=
;poll_interval=15
;private_key_file=
;private_role_vars=False
;remote_port=
;remote_user=
;roles_path=/Users/riyaztevar/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
;stdout_callback=default
;strategy=linear
;strategy_plugins=/Users/riyaztevar/.ansible/plugins/strategy:/usr/share/ansible/plugins/strategy
;su=False
;syslog_facility=LOG_USER
;terminal_plugins=/Users/riyaztevar/.ansible/plugins/terminal:/usr/share/ansible/plugins/terminal
;test_plugins=/Users/riyaztevar/.ansible/plugins/test:/usr/share/ansible/plugins/test
;timeout=10
;transport=ssh
;error_on_undefined_vars=True
;vars_plugins=/Users/riyaztevar/.ansible/plugins/vars:/usr/share/ansible/plugins/vars
;vault_encrypt_identity=
;vault_identity=default
;vault_identity_list=
;vault_id_match=False
;vault_password_file=
;verbosity=0
;deprecation_warnings=True
;devel_warning=True
;display_args_to_stdout=False
;display_skipped_hosts=True
;display_traceback=never
;docsite_root_url=https://docs.ansible.com/ansible-core/
;doc_fragment_plugins=/Users/riyaztevar/.ansible/plugins/doc_fragments:/usr/share/ansible/plugins/doc_fragments
;duplicate_dict_key=warn
;editor=vi
;enable_task_debugger=False
;error_on_missing_handler=True
;facts_modules=smart
host_key_checking=False
;inject_facts_as_vars=True
;interpreter_python=auto
;invalid_task_attribute_failed=True
;localhost_warning=True
;log_verbosity=
;max_diff_size=104448
;module_ignore_exts=.pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, .rst, .yaml, .yml, .ini
;module_strict_utf8_response=True
;network_group_modules=eos, nxos, ios, iosxr, junos, enos, ce, vyos, sros, dellos9, dellos10, dellos6, asa, aruba, aireos, bigip, ironware, onyx, netconf, exos, voss, slxos
;old_plugin_cache_clear=False
;pager=less
playbook_dir=playbooks
;playbook_vars_root=top
;plugin_filters_cfg=
;python_module_rlimit_nofile=0
;retry_files_enabled=False
;retry_files_save_path=
;run_vars_plugins=demand
;show_custom_stats=False
;system_warnings=True
;target_log_info=
;task_debugger_ignore_errors=True
;task_timeout=0
;force_valid_group_names=never
;use_persistent_connections=False
;validate_action_group_metadata=True
;vars_plugins_enabled=host_group_vars
;precedence=all_inventory, groups_inventory, all_plugins_inventory, all_plugins_play, groups_plugins_inventory, groups_plugins_play
;vault_encrypt_salt=
;verbose_to_stderr=False
;win_async_startup_timeout=5
;yaml_valid_extensions=.yml, .yaml, .json
[ssh_connection]
;ssh_args=-o ForwardAgent=yes -o StrictHostKeyChecking=no -J ec2-user@ec2-3-218-152-175.compute-1.amazonaws.com

[privilege_escalation]
;agnostic_become_prompt=True
;become_allow_same_user=False
;become=False
;become_ask_pass=False
;become_exe=
;become_flags=
;become_method=sudo
;become_user=root
[persistent_connection]
;ansible_connection_path=
command_timeout=30
connect_retry_timeout=15
connect_timeout=30
;control_path_dir=/Users/riyaztevar/.ansible/pc
[connection]
pipelining=True
;ssh_agent=none
;ssh_agent_executable=ssh-agent
;ssh_agent_key_lifetime=
[colors]
;changed=yellow
;console_prompt=white
;debug=dark gray
;deprecate=purple
;diff_add=green
;diff_lines=cyan
;diff_remove=red
;doc_constant=dark gray
;doc_deprecated=magenta
;doc_link=cyan
;doc_module=yellow
;doc_plugin=yellow
;doc_reference=magenta
;error=red
;highlight=white
;included=cyan
;ok=green
;skip=cyan
;unreachable=bright red
;verbose=blue
;warn=bright purple
[selinux]
;libvirt_lxc_noseclabel=False
;special_context_filesystems=fuse, nfs, vboxsf, ramfs, 9p, vfat
[diff]
;always=False
;context=3
[galaxy]
;cache_dir=/Users/riyaztevar/.ansible/galaxy_cache
;collections_path_warning=True
;collection_skeleton=
;collection_skeleton_ignore=^.git$, ^.*/.git_keep$
;disable_gpg_verify=False
;display_progress=
;gpg_keyring=
;ignore_certs=
;ignore_signature_status_codes=
;required_valid_signature_count=1
;role_skeleton=
;role_skeleton_ignore=^.git$, ^.*/.git_keep$
;server=https://galaxy.ansible.com
;server_list=
;server_timeout=60
;token_path=/Users/riyaztevar/.ansible/galaxy_token
[inventory]
;host_pattern_mismatch=warning
;any_unparsed_is_failed=False
;enable_plugins=host_list, script, auto, yaml, ini, toml
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini
;export=False
;ignore_extensions=.pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, .rst, .orig, .cfg, .retry
;ignore_patterns=
;unparsed_is_failed=False
;inventory_unparsed_warning=True
[netconf_connection]
;ssh_config=
[jinja2]
;dont_type_filters=string, to_json, to_nice_json, to_yaml, to_nice_yaml, ppretty, json
[tags]
;run=
;skip=
[callback_log_plays]
log_folder=/var/logs/ansible/hosts/
